[submodule "telephony-bridge/libdfegrpc"]
	path = telephony-bridge/libdfegrpc
	url = https://github.com/USAN/libdfegrpc.git
[submodule "telephony-bridge/res_speech_gdfe"]
	path = telephony-bridge/res_speech_gdfe
	url = https://github.com/USAN/res_speech_gdfe.git
[submodule "apptest/dialogflow-telephony-bridge-testsuite"]
	path = apptest/dialogflow-telephony-bridge-testsuite
	url = https://github.com/USAN/dialogflow-telephony-bridge-testsuite.git
